
<!DOCTYPE html>
{% load staticfiles %}
<html lang="pt">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="{% static 'styles/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'styles/main.css' %}" rel="stylesheet">
    <title>ProvaFinal</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <ul class="nav nav-pills pull-right">
                <li class=""><a href="{% url 'index' %}">Nome</a></li>
                <li class ""><a href="/listagem/">Listagem</a></li>
                <li class=""><a href="/logout/">
                    Logout
                </a></li>
            </ul>
            <h3 class="text-muted">ProvaFinal</h3>
        </div>
        <div class="row content">
            <form class="form-signin" action="{% url 'registrar' %}" method="post">
            {% csrf_token %}

                <h2 class="form-signin-heading">Crie seu usuário</h2>
                <input id="id_email" name="email" class="form-control" placeholder="Email" required autofocus>
                <input id="id_nome" name="nome" class="form-control" placeholder="Nome" required >

                <input type="password" id="id_senha" name="senha" class="form-control" placeholder="Senha" required>

            <hr />
            <input id="id_telefone" name="telefone" class="form-control" placeholder="Telefone" required>

            <hr />
            <button class="btn btn-lg btn-primary btn-block"

            type="submit" value="Login">Registrar</button>

            </form>
        </div>
    </div>
</body>
